.dashboard {
  background-color: #1E2122;
  min-height: 100vh;
  color: #ffffff;
  width: 100%;
}

.sort {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(102, 110, 121, 0.5);
  padding: 4px;
}