.card {
  background-color: #272A2D;
  border-radius: 8px;
  margin-bottom: 30px;
  padding: 20px 14px;
  border: 1px solid;
  border-image-source: linear-gradient(154.79deg, #535763 0%, rgba(80, 83, 95, 0.09) 58.33%, #585C6B 100%);
}